# Environment variables
.env
.env.*
!.example.env

# Python & Pycache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploads & Media
uploads/

# IDE / Editor files
.vscode/
.idea/
*.swp
